@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e69898d0;
}
header {
  background-image: linear-gradient(to top, darkred, red);
  min-height: 60px;
  text-align: center;
  padding: 30px;
}
header > h1 {
  font-size: 3em;
  color: beige;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}
nav {
  background-color: darkred;
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.479);
}
nav li {
  display: inline-block;
  padding-right: 30px;
}
nav a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
  color: red;
  background-color: beige;
  padding: 8px;
  border-radius: 5px;
}
main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main > h1 {
  background-color: #df9292d0;
  margin: 0px 200px 10px 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}
main h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(255, 109, 109), transparent);
}
main > p {
  margin-bottom: 20px;
  text-indent: 30px;
  text-align: justify;
}
p.ultimo::after {
  content: '\00A0\2764\2764';
}
main ul.motivos {
  list-style-type: decimal;
  list-style-position: inside;
  columns: 2;
}
main strong {
  color: darkred;
  background-color: rgba(255, 109, 109, 0.479);
  padding: 2px;
  border-radius: 10px;
}
main img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
main img.eu {
  padding-top: 50px;
  min-width: 600px;
  display: block;
  margin: auto;
}
footer {
  background-color: darkred;
  color: white;
  padding: 8px;
}
footer > p {
  text-align: center;
  font-size: 20px;
}
footer > p::after {
  content: '\00A0\2764\2764';
}